<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.8/chartist.js" type="text/javascript"></script>-->
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
{% if temps %}
    <ul style="display:none;">
    {% for temp in temps %}
        <li class="temperatures">{{ temp.temperature }} </li><li class="date">{{temp.read_date}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tempature data.</p>
{% endif %}
<h1>Aquarium Temperature</h1>
<div class="ct-chart ct-perfect-fourth" style="width:600px;height:500px;"></div>

<script>
$(document).ready(function(){
var ctx = document.getElementById("myChart");
var dates = []; $('.date').each(function(){dates.push($(this).text());});
var temps = []; $('.temperatures').each(function(){temps.push($(this).text());});
console.log(dates);
console.log(temps);
new Chartist.Line('.ct-chart', {
  labels: dates,
  series: [
    temps
  ]
}, {
  fullWidth: false,
  chartPadding: {
    right: 40
  }
});
});
</script>

